<div class="list-group">
  <div class="picture">
    <% if @property.photos.attached?%>
      <%= cl_image_tag @property.photo.key, height: 500, width: 400, crop: :fill %>
      <% else %>
      <%= image_tag "placeholder.jpg" %>
    <% end %>
  </div>
  <div class="info">
    <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%=@property.address %></p>
    <p><%= @property.size %></p>
    <p><%= @property.year %></p>
    <p><i class="fa fa-bed" aria-hidden="true"></i> <%= @property.rooms %></p>
    <p><i class="fa fa-usd" aria-hidden="true"></i> <%= @property.price %></p>
    <p><%= @property.state%></p>
    <p><%= @property.type_of_property%>
    <p><%= link_to 'Delete' , properties_path(@property), method: :delete, class:"btn btn-light"%><p>
  </div>
  </div>
      <%= link_to "Back to the list", properties_path %>
  </div>
</div>