  <div class="list-group">
    <div class="picture">
      <% if @property.photos.attached?%>
        <%= cl_image_tag @property.photo.key, height: 500, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div class="info">
      <%=@property.address %>
      <%= @property.size %>
      <%= @property.year %>
      <%= @property.rooms %>
      <%= @property.price %>
      <%= @property.state%>
      <%= @property.type_of_property%>
      <%= link_to 'Delete ' , properties_path(@property), method: :delete, class:"btn btn-light"%>
    </div>
    </div>
        <%= link_to "Back to the list", properties_path %>
    </div>