<div class="list-group">
  <div class="picture">
    <% if @property.photos.attached?%>
      <%= cl_image_tag @property.photos.first.key, height: 500, width: 400, crop: :fill %>
      <% else %>
      <%= image_tag "placeholder.jpg" %>
    <% end %>
  </div>
  <div class="info">
    <p><i>Location:</i> <%=@property.address %></p>
    <p><i>Size:</i>  <%= @property.size %></p>
    <p><i>Construction year:</i>  <%= @property.year %></p>
    <p><i>Number of rooms:</i>  <%= @property.rooms %></p>
    <p><i>Rent:</i>  <%= @property.price %>€</p>
    <p><i>State of property:</i>  <%= @property.state%></p>
    <p><i>Type of property:</i> <%= @property.type_of_property%></p>
    <hr>
    <p><%= link_to 'Delete' , property_path(property), method: :delete, class:"btn btn-dark"%><p>
    <div class="back-button"><i class="fa fa-undo" aria-hidden="true"></i> <%= link_to 'Back to properties', properties_path %></div>
  </div>
</div>
