
<div class="cards"> 
    <% @properties.each do |property| %>
    <div class="single-featured-property "> 
    <div class="property-thumb">
      <% if property.photos.attached?%>
        <%= cl_image_tag property.photos.first.key, crop: :fill %>
        <% else %>
        <%= image_tag "placeholder.jpg" %>
      <% end %>
      <div class="tag">
        <span>For Sale</span>
      </div>
      <div class="list-price">
        <p>€<%= property.price %></p>
      </div>
      <div class="list-view">
        <%= link_to 'View' , property_path(property)%>
      </div>
    </div>

      <div class="property-content">
        <h5>Property in </h5>
        <p class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= property.address %></p>
        <p>Characteristics of the property:</p>
        <div class="property-meta-data d-flex align-items-end justify-content-between">
          <div class="new-tag">
            <i class="fa fa-file" aria-hidden="true"></i>
            <span><%= property.size %></span>
          </div>
          <div class="bathroom">
            <i class="fa fa-bed" aria-hidden="true"></i>
            <span><%= property.rooms %></span>
          </div>
          <div class="garage">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
            <span><%= property.state %></span>
          </div>
          <div class="space">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span><%= property.type_of_property %></span>
          </div>
        </div>
      </div>
        </div>
      <% end %>
</div>
