<!DOCTYPE html>
<html>
  <head>
    <title>RealEstate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/footer' %>
  </body>
  <script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAo70WDDKHoMVihy6Maj2JXos5dKonmZe0",
    authDomain: "real-estate-9ceeb.firebaseapp.com",
    projectId: "real-estate-9ceeb",
    storageBucket: "real-estate-9ceeb.appspot.com",
    messagingSenderId: "948551135229",
    appId: "1:948551135229:web:03fd8520eb1e1e63cef394"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
</html>
